<div class="header">
	<%= image_tag "http://static.tumblr.com/f2444bae6687c57b88dcd476ac611f5f/iokgscd/EcNn30zzv/tumblr_static_wf-donuts-1.jpg", class: "img-responsive" %>
	<h1>Welcome to the Donut Shop</h1>
</div>

<div class="buttons">
	<%= link_to "Check out our Donuts!", donuts_path, class: "btn btn-primary donut-link" %>
</div>
